*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-color: #FFE7E9;
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerShort {
    width: 100%;
    background-color: #FFE7E9;
    background-position: center;
    position: relative;
}

.logoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    padding: 0.5% 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #FFB6C1;
    text-decoration: none;
    font-size: 26px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #E75480;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.slideShow {
    display: flex;
    justify-content: space-between;
}

.slideShowImage {
    margin-left: 10px;
    margin-left: 10px;
    width: 80%
}

.slideShowImage img{
    width: 100%;
}

.slideShowColumn {
    text-align: center;
    margin: auto;
}

.slideShowColumn .fa-solid {
    display: block;
    color: #777;
    margin: 10px;
    font-size: 48px;
    cursor: pointer;
    transition: 0.8s ease;
}

.slideShowColumn .fa-solid:hover {
    background-color: rgba(0,0,0,0.8);
}




nav .fa-solid {
    display: none;
}

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #E75480;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 15px;
    }
}

/*--- News Flash ---*/
.newsFlash {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.column {
    flex-basis: 31%;
    background: #FFB6C1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.photoColumn {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background-color: #E75480;
    margin: auto;
    text-align: center;
}

.bioColumn {
    flex-basis: 40%;
    background: #FFB6C1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*--- Location ---*/
.location {
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: url(/resources/DanceStudio.jpg);
    background-position: center;
    background-size: cover;
}

.infoSection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.location-Column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 182, 193, 0.8);
    margin-bottom: 5%;
}

.location-Column p {
    color: black;
    font-size: 24px;
}

.addressOne {
    padding-top: 35%;
}

.slideImages {
    max-width: 1200px;
    max-height: 650px;
}

.facebook {
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
}

.fa-brands {
    scale: 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
}

.column a {
    text-decoration: none;
}

.facebook p {
    font-size: 24px;
}

.infoSection h1 {
    text-align: center;
}

.infoSection h1 span {
    background-color: rgba(255, 182, 193, 0.8);
}

.boldText {
    font-weight: bold;
}

.newsFlash p {
    color: black;
}

.videoDiv {
    display: flex;
    justify-content: center;
}

.classesDiv {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.headerText {
    color:#777;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.classesDiv p {
    font-size: medium;
}

.formsDiv {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.footerDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.footerDiv p {
    margin-right: 1%;
}

.galleryRow {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}